@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400;600&display=swap');
:root{
    /* color */
    --theme-color:#26ac87;
    --Light-green:#7ab55c;
    --body-color:#ffffff;
    --title-color:#333c4e;
    --text-color:#7e8890;
    --small-title-color:#b7c2ca;
    --white-color:#ffffff;

    /* font */
    --title-font:'Montserrat', sans-serif;
    --body-font:'Open Sans', sans-serif;
    --biggest-fontsize: 3rem;
    --subtitle-fontsize:2.75rem;
    --special-casae: 1.125rem;
    --normal-fontsize: 1rem;
    --small-font-size:0.9rem;

    /* font weight */
    --normal-weight:400;
    --title-weight:500;
}

/* base */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-fontsize);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden ;
}
h1,h2{
    margin: 0;
    font-family: var(--title-font);
    font-weight: var(--normal-weight);
    font-size: var(--biggest-fontsize);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width:100%;
    height: auto;
}
.button{
    padding: 0.8rem 3rem;
    border-radius: 25px;
    font-size:var(--special-casae);
    font-weight:var(--normal-weight) ;
    cursor: pointer;
}
.container{
    margin: 0 auto;
    width: min(90%, 1024px);
    overflow: hidden;
}
.main__wrapper{
    position: relative;
    width:100%;
    
}
.another__wrapper{
    position: relative;
    background: linear-gradient(-12deg, #186f57 19%, #26ac87 81%);
}
.nav__header{
    position: relative;
    background:rgba(0,0,0,0.2);
    box-shadow: 20px 0 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
    transition: 0.4s;
}
.logo__box{
    margin-top: 1rem;
    width:100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    display: flex;
    flex-direction: row;
}
.nav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
} 
.nav__link{
    color: var(--white-color);
}
.active__link {
    position: relative;
  }
  
  .active__link::before {
    content: '';
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    height: 2px;
    bottom: -.45rem;
    left: 0;
    transition: 0.4s;
  }
  .active__link:hover::before{
    background-color:var(--Light-green)
  }
.menu__icon{
    display: none;
    position: absolute;
    color:var(--white-color);
    font-size: 2rem;
    right: -20%;
    cursor: pointer;
    transition: 0.5s;
}
.menu__icon:hover{
    color: var(--text-color);
}
.florel-works{
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    background:url(/assets/img/floral.png)
}
.banner__section{
    top:0;
    left: 0;
    width:100%;
}
.flux__container{
    width:100%;
    position: relative;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    justify-content: centers;
    align-items: center;
    column-gap: 5rem;
    z-index: 999;

}
.banner__img{
    width:50%;
    margin-top: 13rem;
}
.product__section,
.blog_section{
    margin: 5rem 0;
}
.section__caption{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-self: flex-start;
    
}
.top_subtitle{
    color: var(--small-title-color);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.section__title{
    font-size:36px;
    color: var(--title-color);
}
.section__details{
    color:var(--text-color);
    margin:1.5rem 0;
}
.banner__title{
    color: var(--white-color);
    font-size: var(--biggest-fontsize);
    margin-top: 2rem;
}
.banner__details{
    /* font-size: var(--special-casae); */
    color: var(--white-color);
    margin: 1% 0;
    line-height: 30px;

}
.button__box{ 
    display: flex;
    column-gap: 1rem;
}
.banner__btn{
    border:none;
    color: var(--Light-green);
    background-color: var(--white-color);
    transition: 0.4s;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}
.banner__btn:hover{
    color: var(--Light-green);
    background-color:var(--small-title-color);
}
.banner__outlin-btn{
    padding: 0.6rem 3rem;
    background: transparent;
    border:2px solid var(--white-color);  
    color: var(--white-color);
    transition: 0.4s;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}
.banner__outlin-btn:hover{
    background-color: var(--Light-green);
}
.triangle{
    border-width: 250px 0px 0px calc(100vw - 17px);
    position: relative;
    bottom:0;
    left: 0;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    z-index: 10;
}
/* .product__section{
    position: relative;
} */
.green__btn{
    color: var(--white-color);
    background-color: var(--Light-green);
    border: none;
}
/* .section__caption{
    width:50%;
} */
.img__box{
    width: 50%;
}
.block__cta{
    padding: 40px 0;
    background-color: var(--Light-green);
}
.cta__flux{
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.cta__flux h1{
    color: var(--white-color);
}
.carousel_section{
    padding: 4rem 0;
}
.swipper__container{
    width:32%;
    margin-top:2rem;
}
.swiper-slide{
    margin-right: 2%;
}
.swiper-pagination{
    position: relative;
}
.swiper-pagination-bullet{
    margin-left: 10px;
}
.swiper-pagination-bullet-active{
    background:var(--Light-green);
}
.block__social{
    display: flex;
    justify-content: center;
    background-color:var(--theme-color);
    width: 100%;
    padding: 40px 0;
}
.social__icon{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}
.icn_grp{
    font-size: 2.5rem;
    opacity: 0.8;
    color: var(--white-color);
    transition: 0.4s;
}
.icn_grp:hover{
    opacity: 1;
    color: var(--white-color); 
}
/* Blog section */
.blog__pic{
    width:400px;
}
/* News letter */
.newsletter__section{
    position: relative;
    min-height: 25rem;
    background-color: var(--Light-green);
    clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0 88%);
    z-index: 10;
    display: flex;
    align-items: center;
}
.newsletter__img{
    width: 200px;
    justify-items: center;
}
.newsletter__details{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.newsletter__frm{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.newsletter__frm input[type="text"]{
    border: none;
    border-radius: 25px;
    padding: 12px;
    flex-grow: 2;
    outline: none;
    font-family: var(--body-font);
    font-size: var(--normal-fontsize);
}

/* Footer */
.footer_floral{
    background: url(/assets/img/floral-dark.png) repeat;
    padding: 5rem 0;
}
.usefull__links{
    display: flex;
    flex-direction: row;
    column-gap: 10rem;
    flex-wrap: wrap;
    align-items: center;
}
.color__logo{
    width: 95px;
    overflow: hidden;
}
.link__bx{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.link__boxes{
    display: flex;
    flex-grow:3;
    justify-content:space-between;
}
/* .box-two{
    align-self: center;
} */
.link__bx h3{
    margin-bottom: .5rem;
}
.link__bx a{
    color: var(--text-color);
}
.copy__right{
    background-color: #333c4e;
    font-size: var(--small-font-size);
    height: 4rem;
    text-align: center;
    padding: 1.5rem;
}
/* ==============================About page================================ */
.about__hero{
    min-height: 8rem;
    
}
.page__triangle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}
.page__heading{
    text-align: center;
    margin: 5rem 0 3rem;
    letter-spacing: 0.3em
}
.top__subtitle{
    font-size:var(--small-font-size);
    font-weight: 500;
    color: #b7c2ca;
    margin-bottom: 2rem;
}
.page__title{
    font-size: 36px;
    color: var(--title-color);
    letter-spacing: 0.1rem;
}
.semi__title{
    font-size: 28px;
    color: var(--title-color);
    line-height: 48px;
    margin-bottom: 24px;
}
.page__section{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}
.page__section div{
    flex: 1;
}
.sec__details{
    margin-top: 2rem;
}
.page__para p{
    font-size:var(--normal-fontsize);
    line-height: 26px;
    margin-bottom: 30px;
}
.sectn__img{
    text-align: end  ;
}

.sec__img img{
    width: 70%;
}
.contact__form textarea{
    resize: none;
    overflow: hidden;
    height: auto;
}
.frm__btn{
    border: none;
    padding: 14px 35px;
    margin-top: 30px;
    letter-spacing: 1px;
    color: var(--white-color);
    background-color: var(--Light-green);
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
/* =============================Contact================================= */
.contact__form{
    width: 100%;
    position: relative;
}
.form__boxes{
    width:100%;
    margin: 2rem 0;
}
label{
display: block;
margin-bottom: 1.07143rem;
font-weight: 900;
font-style: normal;
font-size: 0.71429rem;
line-height: 1;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #b7c2ca;
cursor: pointer;
}
.form__feilds{
    display: block;
    width: 100%;
    height: 50px;
    outline: none;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #D5DCE2;
    padding: 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.4;
    color: #6f8595;
    -webkit-appearance: none;
    box-shadow: none;
}
.form__feilds:focus{
    box-shadow: 1px 1px 25px rgb(116, 211, 255);

}
.contact__details{
    margin:4rem;
}
.page__para .social__icon i{
    color: var(--Light-green);
}
.cont__icon{
    justify-content: start;
}
/* Responsive */
@media screen and (max-width:1160px){
    .section__caption{
        gap:.5rem;
    }
    .banner__title{
        font-size: 2.5rem;
    }
    .banner__details{
        line-height: 25px;
    }
}
@media screen and (max-width:960px){
    .nav__list{
        display: none;
    }
    .menu__icon{
        display: contents;
    }
    .show__header{
        position: absolute;
        height: 100vh;
        width: 100%;
        background:rgba(0,0,0,10);
        backdrop-filter: blur(10px);
        z-index: 9999;
        opacity: 0.8;
        transition:0.4s;
    }
    .show__nav{
        height: 100vh;
        align-items: flex-start;
        padding-top: 1rem;
    }
    .show__list{
        display: flex;
        flex-direction: column;
        align-self: center;
        row-gap: 2rem;
    }
    .ri-close-fill{
        color: rgb(255, 255, 255);
        transition: 0.4s;
    }
    .ri-close-fill:hover{
        color:var(--theme-color);
    }
    .flux__container{
        flex-wrap: wrap-reverse;
        justify-content: center;
        row-gap: 1rem;
    }
    .section__caption{
        width:100%;
        text-align: center;
    }
    .banner__img{
        margin-top: 5rem;
    }
    .button__box{
        justify-content: center;
    }
    .flex__wrap-order{
        flex-wrap: wrap;
    }
    .newsletter__flex{
        margin: 8rem 0;
        justify-content: center;
        row-gap: 3.5rem;
    }
    .usefull__links{
        flex-direction: column;
        justify-content: space-between;
        row-gap: 3rem;
    }
    .link__boxes{
        min-width: 100%;
        column-gap: 10%;
    }
    /* =============About Page============= */
    .page__section{
        flex-direction: column;
    }
    .page__section div{
        text-align: center;
    }
    .triangle__none{
        clip-path: none;
    }
    /* ================Contact ======================*/
    .contact__form,.contact__details{
        text-align: start;
    }
}
